Problem 1050 Actors and Directors Who Cooperated At Least Three Times

SQL Schema
Pandas Schema
Table: ActorDirector

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |
+-------------+---------+
timestamp is the primary key (column with unique values) for this table.
 

Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
ActorDirector table:
+-------------+-------------+-------------+
| actor_id    | director_id | timestamp   |
+-------------+-------------+-------------+
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |
+-------------+-------------+-------------+
Output: 
+-------------+-------------+
| actor_id    | director_id |
+-------------+-------------+
| 1           | 1           |
+-------------+-------------+
Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

Answer:

To solve this question I used the groupby function to froup actorid and director id together and then filtered out pairs that occured at least three times.

In [1]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    grouped = actor_director.groupby(['actor_id', 'director_id']).size().reset_index(name='count')
    result = grouped[grouped['count'] >= 3][['actor_id', 'director_id']]
    return result

In [9]:
# Test cases

c1=pd.DataFrame({'actor_id': [1, 1,1,1,1,2,2],
                 'director_id': [1,1,1,2,2,1,1]})

actors_and_directors(c1)
print('Expected: \n   actor_id  director_id\n0         1            1')
print(actors_and_directors(c1))

Expected:
   actor_id  director_id
0         1            1
   actor_id  director_id
0         1            1