Problem 1683 Invalid Tweets

SQL Schema
Pandas Schema
Table: Tweets

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| tweet_id       | int     |
| content        | varchar |
+----------------+---------+
tweet_id is the primary key (column with unique values) for this table.
content consists of alphanumeric characters, '!', or ' ' and no other special characters.
This table contains all the tweets in a social media app.
 

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Tweets table:
+----------+-----------------------------------+
| tweet_id | content                           |
+----------+-----------------------------------+
| 1        | Let us Code                       |
| 2        | More than fifteen chars are here! |
+----------+-----------------------------------+
Output: 
+----------+
| tweet_id |
+----------+
| 2        |
+----------+
Explanation: 
Tweet 1 has length = 11. It is a valid tweet.
Tweet 2 has length = 33. It is an invalid tweet.

Answer:

This is a simple problem in which we filter out rows havving content column length greater than 15. this is done by using the str.len function.

In [2]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    invalid=tweets[tweets['content'].str.len()>15]
    return invalid[['tweet_id']]

In [3]:
# test cases

tweets = pd.DataFrame({
    'tweet_id': [1, 2, 3, 4],
    'content': ['short tweet', 'this tweet is way too long', 'another short one', 'this one is also way too long']
})

print(invalid_tweets(tweets))

   tweet_id
1         2
2         3
3         4