Problem 619 Biggest Single Number

SQL Schema
Pandas Schema
Table: MyNumbers

+-------------+------+
| Column Name | Type |
+-------------+------+
| num         | int  |
+-------------+------+
This table may contain duplicates (In other words, there is no primary key for this table in SQL).
Each row of this table contains an integer.
 

A single number is a number that appeared only once in the MyNumbers table.

Find the largest single number. If there is no single number, report null.

The result format is in the following example.

 

Example 1:

Input: 
MyNumbers table:
+-----+
| num |
+-----+
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |
+-----+
Output: 
+-----+
| num |
+-----+
| 6   |
+-----+
Explanation: The single numbers are 1, 4, 5, and 6.
Since 6 is the largest single number, we return it.
Example 2:

Input: 
MyNumbers table:
+-----+
| num |
+-----+
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |
+-----+
Output: 
+------+
| num  |
+------+
| null |
+------+
Explanation: There are no single numbers in the input table so we return null.

Answer:

The problem requires to filter out rows which are not unique and then return the greatest integer.

To solve this we first filter cout the numbers that are equal to one using the groupby and filter function. Then we simply take the max of it and pass it to the to_frame function to convert it into a datraframe.

In [2]:
import pandas as pd
def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    return my_numbers.groupby('num').filter(lambda x:len(x)==1).max().to_frame(name='num')

In [4]:
# Test Cases

c1=pd.DataFrame({'num':[8,8,3,3,1,4,5,6]})
c2=pd.DataFrame({'num':[8,8,7,7,3,3,3]})

print(biggest_single_number(c1),'Expected:6')  
print(biggest_single_number(c2),'Expected:NaN')

     num
num    6 Expected:6
     num
num  NaN Expected:NaN