Problem 183 Customers Who Never Order

SQL Schema
Pandas Schema
Table: Customers

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 

Table: Orders

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customers table:
+----+-------+
| id | name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Orders table:
+----+------------+
| id | customerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Output: 
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

Answer:

This is the problem that can be solved using SQL as it needs to work with multiple tables. I solved it using pandas.

The approach was to use the isin function to check whether the customer id in orders table are there in the customer table and take the negation of it hence we get the list of people that are not in the orders table.
Then we extract the 'name' column and rename it as Customers.

In [1]:
import pandas as pd
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df=customers[~customers['id'].isin(orders['customerId'])][['name']]
    df.columns=['Customers']
    return df

In [4]:
# Test Cases
c1=pd.DataFrame({'id':[1,2,3,4],'name':['Joe','Henry','Sam','Max']})
o1=pd.DataFrame({'id':[1,2],'customerId':[3,1]})
                 
print(find_customers(c1,o1))  # Expected: ['Henry','Max']})

  Customers
1     Henry
3       Max