Problem 2879 Display the First Three Rows

Easy
premium lock icon
Companies
Hint
DataFrame: employees
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| employee_id | int    |
| name        | object |
| department  | object |
| salary      | int    |
+-------------+--------+
Write a solution to display the first 3 rows of this DataFrame.

 

Example 1:

Input:
DataFrame employees
+-------------+-----------+-----------------------+--------+
| employee_id | name      | department            | salary |
+-------------+-----------+-----------------------+--------+
| 3           | Bob       | Operations            | 48675  |
| 90          | Alice     | Sales                 | 11096  |
| 9           | Tatiana   | Engineering           | 33805  |
| 60          | Annabelle | InformationTechnology | 37678  |
| 49          | Jonathan  | HumanResources        | 23793  |
| 43          | Khaled    | Administration        | 40454  |
+-------------+-----------+-----------------------+--------+
Output:
+-------------+---------+-------------+--------+
| employee_id | name    | department  | salary |
+-------------+---------+-------------+--------+
| 3           | Bob     | Operations  | 48675  |
| 90          | Alice   | Sales       | 11096  |
| 9           | Tatiana | Engineering | 33805  |
+-------------+---------+-------------+--------+
Explanation: 
Only the first 3 rows are displayed.

Answer:

To solve this problem I filtered the input DataFrame to only include records from June 28, 2019, through July 27, 2019. Once I had filtered down the data, I grouped it by date and then determined the number of unique users present on each day. I also renamed the date column to 'day' and the counts of daily active users were stored in a column called 'active_users'. The end output is a tidy and neat DataFrame summarizing daily user activity for the time period selected.

In [2]:
import pandas as pd
def user_activity(activity: pd.DataFrame) -> pd.DataFrame:
    df=activity
    df_filtered = df[
    (df['activity_date'] >= '2019-06-28') &
    (df['activity_date'] <= '2019-07-27')
    ]
    result = (
        df_filtered
        .groupby('activity_date')['user_id']
        .nunique()
        .reset_index(name='active_users')
        .rename(columns={'activity_date': 'day'})
    )
    return result

In [3]:
# Test case

c1=pd.DataFrame({
    'user_id':[1,1,1,2,2,2,3,3,3,4,4],
    'session_id':[1,1,1,2,2,2,4,4,4,3,3],
    'activity_date':[
        '2019-07-20','2019-07-20','2019-07-20',
        '2019-07-20','2019-07-21','2019-07-21',
        '2019-07-21','2019-07-21','2019-07-21',
        '2019-06-25','2019-06-25'],
    'activity_type':['open_session','scroll_down','end_session','open_session','send_message','end_session','open_session','send_message','end_session','open_session','end_session']

})
eo1=pd.DataFrame({'day':['2019-07-20','2019-07-21'],
                  'active_users':[2,2]})


print(user_activity(c1).equals(eo1))  # Should print True

True